{% extends "base.html" %}
{% load django_markdown %}

{% block navi %}

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="{% url "index" %}">Home</a>
          <a class="blog-nav-item active" href="{% url "tasks" %}">Tasks</a>
          <a class="blog-nav-item" href="{% url "about" %}">About</a>
        </nav>
      </div>
    </div>
{% endblock navi %}


{% block content %} 
<section> 
    <h2>  <u> Ongoing Projects </u> </h2>
</section>
{% endblock %}

{% block blog_entries %}
{% for object in object_list %}

  <div class="post">
      <h2><a href="{% url "task_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta">
      {{ object.created }} |
      Tagged under {{  object.tags.all|join:", " }}
    </p>
    {{ object.body|markdown }}
  </div>
{% endfor %}

{% endblock %}

<!-- wait

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Styles Conference</title>
    <link rel="stylesheet" href="assets/stylesheets/main.css">
  </head>

  <body> 

    <!-- Head

    <header class="primary-header container group">

  
      <h1 class="logo">
        <a href="index.html">Tasks</a>
      </h1>
   	  
   	  <h3 class="tagline">January 2015
   	  </h3>

      <nav class="nav primary-nav">
        <a href="base.html">Home</a>
      </nav>

    </header>

   
    Main content
  	<section class= "row-alt">
   	 	<div class="lead container">
    	
    		<h1>Stuff to be completed</h1>
    		
    	</div>
    </section>

    <!-- Details 

        <section class="col-2-3">

          <h2>#1</h2>
          <h5>$99 per Pass</h5>

          

          <h4>Coming Soon: </h4>
      

    <!-- Footer 

    <footer class="container">

      <small>&copy; Blog</small>

      <nav>
        <a href="base.html">Home</a>
       </nav>

    </footer>

  </body>
</html> 
-->